.adss-container .title {
    font-weight: bold;
    margin: 28px 0px 20px;
    font-size: 14px;
    color: #4c6267;
}
.adss-container .title.bg {
    padding: 9px 12px;
    background: #e0e8ea;
    border-radius: 2px;
    margin: 31px 0 0 0;
}